---
layout: default
---

{% include site-header.html %}
<main class="background container">
  <center><h1 class="member-type"> Team Leader </h1>  </center>
  <center><div>
{%
  include list.html
  data="members"
  component="portrait"
  filters="role: di"
%}
{%
  include list.html
  data="members"
  component="portrait"
  filters="role: di_solver"
%}
</div></center>
<hr>
</main>


<main class="background  container">
  <center><h1 class="member-type"> Full-Time Researcher </h1>  </center>
  <center><div>


{%
  include list.html
  data="members"
  component="portrait"
  filters="role: pi"
%}
{%
  include list.html
  data="members"
  component="portrait"
  filters="role: se_res"
%}
{%
  include list.html
  data="members"
  component="portrait"
  filters="role: res"
%}
{%
  include list.html
  data="members"
  component="portrait"
  filters="role: eng"
%}
    </div></center>
<hr>
</main>


{% include site-footer.html %}
