---
layout: default
---

{% include site-header.html %}


<main class="background  container">
  <center><h1 class="member-type"> <font size="6">探索极限，趋近极限，超越极限  </h1>  </center></font>
  <br/>
  <div>

        泰勒求解器是华为泰勒实验室自主研发的针对超大规模以及嵌入式场景下的高性能数学规划求解工具。 秉承“理论作尺，探极限筑根基；算法为剑，携产业谋先至”的实验室理念，泰勒求解器将持续在超大规模，以及实时求解这两个方向不断探索极限，趋近极限，最终突破极限。
        <br/><br/>
        目前支持超大规模混合整数规划求解，线性规划，二次规划，非线性规划以及可满足性问题的求解。        <br/><br/>
        <p style="font-weight: bold">最新新闻</p>2024年7月2号，据美国ASU测试榜，泰勒求解器在非线性规划榜单中，<font color="red">排名第一</font> 。
        <br/>

    </div>
    <br/><br/><br/>
<hr>
</main>

<main class="background  container">
    <br/>
  <center><h1 class="member-type"> <font size="6">发展理念/愿景 </font> </h1>  </center>
  <br/>
    <div>

        随工业化和信息化的发展，传统求解器性能的增长速度远远低于业务规模的增长速度以及在实时性领域的诉求，导致传统求解器在面对很多工业问题时无法求解。
        <br/><br/>
        主流的MIP/LP求解器技术主要源于运筹学领域，SAT/SMT求解器则是计算机领域代表作。通过深入结合运筹学（OR）和计算机领域（CS）的技术， 我们构建了全新的混合搜索框架（MIX ORCS Search），并据此打造了更加高效的自研求解器 TAYLOR。
        <br/><br/>
        目前，我们的求解器已在华为公司内部支撑了无线，数通，光，云核，海思等产品线数十场景的使用，最大可支撑千万量级的整数规划问题求解，以及毫秒级的嵌入式非线性求解，求解效果远超其他商业求解器。
        
        <br/>

    </div>
    <br/><br/><br/>
<hr>
</main>


<main class="background  container">
    <br/>
  <center><h1 class="member-type"><font size="6"> 团队介绍 </h1>  </font></center>
  <br/>
  在首席科学家陆品燕老师的带领下，我们构建了一支由计算机、数学、运筹学、自动化等专业背景的博士、硕士组成的优秀团队。我们将持续在求解器根技术以及产业应用上做深做强，欢迎大家加入我们！
  <br/>
    <center><div>

{%
  include list.html
  data="memberszh"
  component="portrait"
  filters="role: zn_di_solver"
%}

{%
  include list.html
  data="memberszh"
  component="portrait"
  filters="role: zn_res_solver"
%}
    </div></center>
<hr>
</main>


{% include site-footer.html %}

